<!DOCTYPE html>
<html lan="en" xmlns:fb="https://www.facebook.com/2008/fbml">

<head>
<title>Meme Captain</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<style type="text/css">
#sourceImages {
  background-color : #eee;
  border-top : 1px solid #ccc;
  border-bottom : 1px solid #ccc;
  padding : 0em 1em 0.5em 1em;
  margin : 1em 0em 1em 0em;
}

img.thumb {
  background-image : url('thumbs.jpg');
  height : 50px;
}
</style>
</head>

<body>

<p><a href="/">Meme Captain</a> - add text to images from the internet</p>

<div id="img"></div>

<form action="" method="get">

<table>

<tr>
<td><label for="u" />Source image URL: </label></td>
<td><input type="text" id="u" name="u" size="64" value="<%= h @u %>"/></td>
</tr>

<tr>
<td><label for="tt" />Top text: </label></td>
<td><input type="text" id="tt" name="tt" size="64" value="<%= h @tt %>" /></td>
</tr>

<tr>
<td><label for="tb" />Bottom text: </label></td>
<td><input type="text" id="tb" name="tb" size="64" value="<%= h @tb %>" /></td>
</tr>

<tr>
<td></td>
<td><input type="submit" value="Create Image" /></td>
</tr>

</table>

</form>

<div id="sourceImages">

<p>Locally hosted source images or search Bing for source images (click thumbnail to use):</p>

<%

images = [
  ['all_the_things.jpg', 67],
  ['all_the_things2.jpg', 67],
  ['bear_grylls.jpg', 45],
  ['business_cat.jpg', 50],
  ['cool_story_bro.jpg', 72],
  ['courage_wolf.jpg', 50],
  ['dwight_schrute.jpg', 73],
  ['fry.png', 67],
  ['good_guy_greg.jpg', 51],
  ['grandma.jpg', 68],
  ['insanity_wolf.jpg', 50],
  ['internet_husband.jpg', 45],
  ['joseph_ducreux.jpg', 38],
  ['me_gusta.png', 50],
  ['most_interesting.jpg', 40],
  ['ok.png', 50],
  ['philosoraptor.jpg', 50],
  ['rage.png', 50],
  ['sap.jpg', 50],
  ['scumbag_steve.jpg', 50],
  ['seriously.png', 50],
  ['slowpoke.jpg', 50],
  ['success_kid.jpg', 50],
  ['town_crier.jpg', 75],
  ['troll_face.jpg', 55],
  ['trolldad.png', 50],
  ['trolldad_dancing.png', 50],
  ['tyler_durden.jpg', 50],
  ['xzibit.jpg', 77],
  ['y_u_no.jpg', 67],
  ['yao_ming.jpg', 42],
]

pos = 0
images.each do |name, offset|
%>
<img src="1.gif" class="thumb" style="width : <%= offset %>px; background-position : <%= pos %>px 0px;" onClick="$('#u').val('http://memecaptain.com/<%= name %>'); return false;" />
<%
  pos -= offset
end
%>

<div id="bingImageResults"></div>

<form action="" method="get">
<input type="text" id="bingSearch" />
<input type="button" id="bingButton" value="Bing Image Search" />
</form>

</div>

<p>
Contact: Matthew M. Boedicker <a href="mailto:matthewm@boedicker.org">matthewm@boedicker.org</a> |
<a href="http://twitter.com/memecaptain">@memecaptain</a>
</p>

<p><a href="https://github.com/mmb/meme_captain">source code and API</a></p>

<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.0/jquery.min.js"></script>
<script>
function showBingImages(resp) {
    var div = $('#bingImageResults'),
        searchResponse = resp.SearchResponse,
        image = searchResponse.Image;

    div.empty();

    if (image.Total > 0) {
        $.each(image.Results, function (i, img) {
            div.append($('<img />').attr('src', img.Thumbnail.Url).click(
                function () { $('#u').val(img.MediaUrl); }
            ));
        });
    } else {
        div.append($('<p />').append(
            'No results for "' + searchResponse.Query.SearchTerms + '".'));
    }
}

function bingImageSearch() {
    var bingSearch = $('#bingSearch'),
        bingSearchVal = bingSearch.val();

    if (bingSearchVal.match(/[^\s]/)) {
        bingSearch.val('');

        $.ajax({
            type : 'GET',
            url : 'http://api.bing.net/json.aspx',
            data : {
                AppId : 'A120380275E87F0071F163210211F0592D0E964C',
                Query : bingSearchVal + ' imagesize:Medium',
                Sources : 'Image',
                Version : '2.0',
                Market : 'en-us',
                'Image.Count' : 5,
                'Image.Offset' : 0,
                JsonType : 'callback'
            },
            dataType : 'jsonp',
            jsonpCallback : 'showBingImages',
            jsonp : 'JsonCallback'
        });
    }
}

$(function () {
    var bingSearch,
        bingSearchVal,
        imgDiv;

    if (window.location.search.match(/u=[^&$]/)) {
        $('#tt').focus();

        imgDiv = $('#img');

        imgDiv.append($('<p />').append('Creating image ...'));

        $.get('/g' + window.location.search, function (data) {
            var img = $('<img />').attr('src', data.tempUrl),
            tempLink = $('<a />').attr('href', data.tempUrl).append(data.tempUrl),
            permLink = $('<a />').attr('href', data.permUrl).append(data.permUrl),
            tweetLink = $('<a />').attr({
                href : 'http://twitter.com/share',
                'class' : 'twitter-share-button',
                'data-count' : 'none',
                'data-text' : ' ',
                'data-url' : data.permUrl
                }).append('Tweet');

            imgDiv.empty().append(
                img).append(
                $('<p />').append('Temporary image url: ').append(tempLink)).append(
                $('<p />').append('Permanent image url: ').append(permLink)).append(
                $('<p />').append('Temporary url not guaranteed to work forever. Permanent url should work as long as source image exists.')).append(
                $('<p />').append(tweetLink).append($('<script />').attr('src',
                    'http://platform.twitter.com/widgets.js')));

            // Facebook like
            imgDiv.append(
                $('<div />').attr('id', 'fb-root')).append(
                $('<fb:like />').attr({
                    href : data.tempUrl,
                    send : 'true',
                    width : '450',
                    show_faces : 'true',
                    font : ''
                    }));

            window.fbAsyncInit = function () {
                FB.init({
                    appId : '108445492580525',
                    status : true,
                    cookie : true,
                    xfbml : true
                    });
                };

            imgDiv.append($('<script />').attr({
                src : 'http://connect.facebook.net/en_US/all.js'}));
        }).error(function (j) {
          imgDiv.empty().append($('<p />').text(j.responseText));
        });
    } else {
        $('#u').focus();
    }

    $('#bingSearch').keypress(function (event) {
        if (event.which == 13) {
            event.preventDefault();
            bingImageSearch();
        }
    });

    $('#bingButton').click(bingImageSearch);
});
</script>

</body>

</html>
