<!DOCTYPE html>
<html lang="en">

<head>
<title>Meme Captain</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
</head>

<body>

<p><a href="/">Meme Captain</a></p>

<p>Add text to images from the internet.</p>

<% if @img_url %>
<p><a href="<%= h @img_url %>"><img src="<%= h @img_url %>" /></a></p>
<p><a href="<%= h @img_url %>"><%= h @img_url %></a></p>
<% end %>

<form action="" method="get">

<table>

<tr>
<td><label for="u" />Source image URL: </label></td>
<td><input type="text" id="u" name="u" size="64" value="<%= h @u %>"/></td>
</tr>

<tr>
<td><label for="tt" />Top text: </label></td>
<td><input type="text" id="tt" name="tt" size="64" value="<%= h @tt %>" /></td>
</tr>

<tr>
<td><label for="tb" />Bottom text: </label></td>
<td><input type="text" id="tb" name="tb" size="64" value="<%= h @tb %>" /></td>
</tr>

<tr>
<td></td>
<td><input type="submit" value="Create Image" /></td>
</tr>

</table>

</form>

<img src="http://memecaptain.com/bear_grylls_thumb.jpg" onClick="document.getElementById('u').value = 'http://memecaptain.com/bear_grylls.jpg'; return false;" />

<img src="http://memecaptain.com/most_interesting_thumb.jpg" onClick="document.getElementById('u').value = 'http://memecaptain.com/most_interesting.jpg'; return false;" />

<img src="http://memecaptain.com/philosoraptor_thumb.jpg" onClick="document.getElementById('u').value = 'http://memecaptain.com/philosoraptor.jpg'; return false;" />

<img src="http://memecaptain.com/scumbag_steve_thumb.jpg" onClick="document.getElementById('u').value = 'http://memecaptain.com/scumbag_steve.jpg'; return false;" />

<img src="http://memecaptain.com/town_crier_thumb.jpg" onClick="document.getElementById('u').value = 'http://memecaptain.com/town_crier.jpg'; return false;" />

<img src="http://memecaptain.com/troll_face_thumb.jpg" onClick="document.getElementById('u').value = 'http://memecaptain.com/troll_face.jpg'; return false;" />

<img src="http://memecaptain.com/y_u_no_thumb.jpg" onClick="document.getElementById('u').value = 'http://memecaptain.com/y_u_no.jpg'; return false;" />

<p>by Matthew M. Boedicker <a href="mailto:matthewm@boedicker.org">matthewm@boedicker.org</a></p>

<p><a href="https://github.com/mmb/meme_captain">source code</a></p>

</body>

</html>
