<!DOCTYPE html>
<html lang="en" xmlns:fb="https://www.facebook.com/2008/fbml">

<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Meme Captain meme generator</title>
<link rel="stylesheet" href="css/screen.css" />
</head>

<body>

<a href="<%= h @root_url %>"><img id="logo" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAcwAAAAyAgMAAACsWgPIAAAAAXNSR0IArs4c6QAAAAlwSFlzAAALEwAACxMBAJqcGAAAAAd0SU1FB9wBHwQoJY1iyrwAAAAJUExURQAAAAAAAP///4Pdz9IAAAABdFJOUwBA5thmAAAAAWJLR0QB/wIt3gAAAHpJREFUWIXt1zESgCAMRNE03s9mG+9ns6e0EaKCqDOWf4sUJOHREvqciOn7Us0cEZiYmJhnc7HtVbJtS5LsVRo09DScZzmSG5iYmJit2RTVlduGquS920hFvxRMTEzMRzOv6TfKheMX9ThMTEzMnvlj5ld/S0xMTMxjNoGjc3pdi6L4AAAAAElFTkSuQmCC" alt="Meme Captain" width="460" height="50" /></a>

<div id="chooseSourceImage">

<p>
Enter an image URL, upload an image, click a thumbnail or search for an image
then click its thumbnail.
</p>

<p>
<label for="u">Source image URL: </label>
<input type="text" id="u" name="u" size="64" value="<%= h @u %>" />
<form action="upload" method="post" enctype="multipart/form-data">
<input type="file" id="upload" name="upload" />
<input type="submit" id="uploadSubmit" value="Upload" disabled="disabled" />
</form>
</p>

<div id="localSourceImages"></div>

<p>
<input type="text" id="imageSearch" />
<input type="button" id="imageSearchButton" value="Image Search" /> powered by Google
</p>

<div id="imageSearchResults"></div>

</div>

<div id="chooseText">

<p>
<label for="t1">Text 1: </label>
<input type="text" id="t1" name="t1" size="64" value="<%= h @t1 %>" />
</p>

<p>
<label for="t2">Text 2: </label>
<input type="text" id="t2" name="t2" size="64" value="<%= h @t2 %>" />
</p>

</div>

<div id="positionText">

<p class="noCanvas" style="display : none;">
If you were using a browser with canvas support such as Chrome, Firefox,
Safari or Internet Explorer 9 you could position the text on the image here.
</p>

<p class="hasCanvas">
<input type="button" id="positionTextButton" value="Position Text" />
Optionally set the position and size of the text on the image.
</p>

<table id="positionTable">

<tr>

<td><label for="t1x">Text 1 X: </label></td>
<td><input type="text" id="t1x" name="t1x" size="4" value="<%= h @t1x %>" /></td>

<td><label for="t1y">Y: </label></td>
<td><input type="text" id="t1y" name="t1y" size="4" value="<%= h @t1y %>" /></td>

<td><label for="t1w">Width: </label></td>
<td><input type="text" id="t1w" name="t1w" size="4" value="<%= h @t1w %>" /></td>

<td><label for="t1h">Height: </label></td>
<td><input type="text" id="t1h" name="t1h" size="4" value="<%= h @t1h %>" /></td>

</tr>

<tr>

<td><label for="t2x">Text 2 X: </label></td>
<td><input type="text" id="t2x" name="t2x" size="4" value="<%= h @t2x %>" /></td>

<td><label for="t2y">Y: </label></td>
<td><input type="text" id="t2y" name="t2y" size="4" value="<%= h @t2y %>" /></td>

<td><label for="t2w">Width: </label></td>
<td><input type="text" id="t2w" name="t2w" size="4" value="<%= h @t2w %>" /></td>

<td><label for="t2h">Height: </label></td>
<td><input type="text" id="t2h" name="t2h" size="4" value="<%= h @t2h %>" /></td>

</tr>

</table>

<div id="positionTextCanvasDiv"></div>

</div>

<div id="createdImageContainer">

<p>
<input type="button" id="createImageButton" value="Create Image" />
</p>

<div id="createdImage"></div>

</div>

<p>
Contact: Matthew M. Boedicker <a href="mailto:matthewm@boedicker.org">matthewm@boedicker.org</a> |
<a href="http://twitter.com/memecaptain">@memecaptain</a>
</p>

<p><a href="https://github.com/mmb/meme_captain">source code and API</a></p>

<script src="js/jquery-1.7.2.min.js"></script>
<script src="js/fabric.min.js"></script>
<script src="js/meme_captain.js"></script>

</body>

</html>
